/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  background-color: darkslategray;
}

textarea {
  width: 100%;
  min-height: 40dvh;
  max-height: 60dvh;
}

img {
  max-height: 80dvh;
}

.note-color-green {
  color: rgb(2, 184, 2);
}

.note-color-blue {
  color: blue;
}

.note-color-yellow {
  color: rgb(234, 255, 0);
}

.note-color-red {
  color: rgb(255, 0, 0);
}

.note-color-purple {
  color: rgb(112, 0, 250);
}


.form-input {
  min-width: 70%;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}